<nav class="navbar navbar-expand-xl navbar-light bg-light" *ngIf="showMenu()">
	<a href="dashboard" class="navbar-brand"><img src="http://www.photobreak.com.br/images/logo-green-dark.png" class="avatar" alt="Logo"></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a  class="nav-item nav-link" [routerLink]="['/dashboard']" routerLinkActive="active" style="cursor: pointer;">Dashboard</a>
			<div class="nav-item dropdown" dropdown>
				<a dropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">Cadastro</a>
				<div *dropdownMenu class="dropdown-menu">
					<a class="dropdown-item" [routerLink]="['/cliente']" routerLinkActive="active">Cliente</a>
					<a class="dropdown-item" [routerLink]="['/produto']" routerLinkActive="active">Produto</a>
					<a class="dropdown-item" [routerLink]="['/venda']" routerLinkActive="active">Venda</a>
				</div>
			</div>
			<div class="nav-item dropdown" dropdown>
				<a dropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">Relatorio</a>
				<div *dropdownMenu class="dropdown-menu">
					<a class="dropdown-item" [routerLink]="['/parcela']" routerLinkActive="active">Parcela</a>
					<a class="dropdown-item" [routerLink]="['/venda']" routerLinkActive="active">Venda</a>
				</div>
			</div>
			<div class="nav-item dropdown" dropdown>
				<a dropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">Administração</a>
				<div *dropdownMenu class="dropdown-menu">
					<a class="dropdown-item" [routerLink]="['/usuario']" routerLinkActive="active">Usuario</a>
				</div>
			</div>
		</div>
		<div class="navbar-nav ml-auto">
			<a class="nav-item nav-link notifications" routerLinkActive="active"><i class="fa fa-bell-o"></i><span class="badge">1</span></a>
			<a class="nav-item nav-link messages" routerLinkActive="active"><i class="fa fa-envelope-o"></i><span class="badge">10</span></a>
			<div class="nav-item dropdown" dropdown>
				<a dropdownToggle data-toggle="dropdown" class="nav-link dropdown-toggle user-action">
					<img src="http://cdn.onlinewebfonts.com/svg/img_311846.png" class="avatar" alt="Avatar">
					 {{userName()}} 
					 <b class="caret"></b>
				</a>
				<div *dropdownMenu class="dropdown-menu">
					<a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
					<a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
					<a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" (click)="logout()" style="cursor: pointer;"><i class="material-icons">&#xE8AC;</i> 
						Logout
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>