<nav class="navbar navbar-expand-xl navbar-light bg-light" *ngIf="showMenu()">
	<a href="dashboard" class="navbar-brand"><img src="http://www.photobreak.com.br/images/logo-green-dark.png" class="avatar" alt="Logo"></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a  class="nav-item nav-link" [routerLink]="['/dashboard']" routerLinkActive="active" style="cursor: pointer;">Dashboard</a>
			<div class="nav-item dropdown" dropdown>
				<a dropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">Cadastro</a>
				<div *dropdownMenu class="dropdown-menu">
					<a class="dropdown-item" [routerLink]="['/cliente']" routerLinkActive="active">Cliente</a>
					<a class="dropdown-item" [routerLink]="['/produto']" routerLinkActive="active">Produto</a>
					<a class="dropdown-item" [routerLink]="['/venda']" routerLinkActive="active">Venda</a>
				</div>
			</div>
			<div class="nav-item dropdown" dropdown>
				<a dropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">Relatorio</a>
				<div *dropdownMenu class="dropdown-menu">
					<a class="dropdown-item" [routerLink]="['/parcela']" routerLinkActive="active">Parcela</a>
					<a class="dropdown-item" [routerLink]="['/vendas']" routerLinkActive="active">Vendas</a>
				</div>
			</div>
			<div class="nav-item dropdown" dropdown>
				<a dropdownToggle class="nav-link dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">Administração</a>
				<div *dropdownMenu class="dropdown-menu">
					<a class="dropdown-item" [routerLink]="['/usuario']" routerLinkActive="active">Usuario</a>
				</div>
			</div>
		</div>
		<div class="navbar-nav ml-auto">
			<a class="nav-item nav-link notifications" routerLinkActive="active"><i class="fa fa-bell-o"></i><span class="badge">1</span></a>
			<a class="nav-item nav-link messages" routerLinkActive="active"><i class="fa fa-envelope-o"></i><span class="badge">10</span></a>
			<div class="nav-item dropdown" dropdown>
				<a dropdownToggle data-toggle="dropdown" class="nav-link dropdown-toggle user-action">
					<span class="icon"  onMouseOver="this.style.cursor='pointer'" tooltip="Avatar">
						<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16">
							<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
							<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
						  </svg>
					</span>
					 {{userName()}} 
					 <b class="caret"></b>
				</a>
				<div *dropdownMenu class="dropdown-menu">
					<a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
					<a class="dropdown-item" [routerLink]="['/agenda']" routerLinkActive="active"><i class="fa fa-calendar-o"></i> Calendar</a>
					<a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" (click)="logout()" style="cursor: pointer;"><i class="material-icons">&#xE8AC;</i> 
						Logout
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>