<div class="title-top" role="alert">
  <h2>Dashboar</h2>
</div>
<div class="main-wrapper">
  

  <!-- --NAVBAR---- -->
<!--
  <div class="header-container fixed-top">
    <header class="header  navbar navbar-expand-sm expand-header">
        <div class="header-left d-flex">
            <div class="logo">
                DevIngine
            </div>
            <a href="" class="sidebarCollapse" data-placement="bottom">
                <span class="fas fa-bars"></span>
            </a>
        </div>
        
    </header>
  </div>
-->
<!-- --NAVBAR END---- -->

  <!-- ------------------SIDEBAR START----------- -->
  <div class="left-menu" >
    <div class="menubar-content">
      <nav class="animated bounceInDown">
        <ul id="sidebar">
          <li class="active">
              <a href="#"><i class="fas fa-home"></i>Dashboard</a>
          </li>
          <li>
              <a href="#"><i class="fas fa-box-open"></i>Widgets</a>
          </li>
          <li>
              <a href="#"><i class="fab fa-uikit"></i>UI Elements</a>
          </li>
          <li>
              <a href="#"><i class="fas fa-chart-bar"></i>Advance UI</a>
          </li>
          <li>
              <a href="#"><i class="fab fa-telegram-plane"></i>Form Elements</a>
          </li>
          <li>
              <a href="#"><i class="fas fa-home"></i>Dashboard</a>
          </li>
          <li>
              <a href="#"><i class="fas fa-home"></i>Dashboard</a>
          </li>
          <li>
              <a href="#"><i class="fas fa-home"></i>Dashboard</a>
          </li>
          <li>
              <a href="#"><i class="fas fa-home"></i>Dashboard</a>
          </li>
          <li>
              <a href="#"><i class="fas fa-home"></i>Dashboard</a>
          </li>
          <li>
              <a href="#"><i class="fas fa-home"></i>Dashboard</a>
          </li>
          <li>
              <a href="#"><i class="fas fa-home"></i>Dashboard</a>
          </li>
          <li>
              <a href="#"><i class="fas fa-home"></i>Dashboard</a>
          </li>
          <li>
              <a href="#"><i class="fas fa-home"></i>Dashboard</a>
          </li>
          <li>
              <a href="#"><i class="fas fa-home"></i>Dashboard</a>
          </li>
          <li>
              <a href="#"><i class="fas fa-home"></i>Dashboard</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- ------------------SIDEBAR END----------- -->
</div>
<div class="graficos">

    <canvas #CanvasVendas></canvas>

    <canvas #CanvasEquipamento></canvas>
</div>